.signOutButton {
  background: #fff;
  border: 1px solid #555;
  color: #444;
  font-size: 14px;
  font-weight: 500;
  border-radius: 50px;
  padding: 5px 15px;
}

.signOutButton:hover {
  cursor: pointer;
  background: #555;
  color: #fff;
}